* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-body1: #06060F;
    --background-body2: #181827;
    --background-gradient-start: #E57C23;
    --background-gradient-middle: #B04E0F;
    --background-gradient-end: #D4A017;

    --h1-color: #FFFFFF;
    --h2-color: #FFD700;
    --p-color: #e7e6e6;
    --nav-color: #D9E2EC;
    --highligth-color: #FFD700;

    --h1-font: 'Raleway', sans-serif;
    --h2-font: 'Roboto Slab', serif;
    --p-font: 'Roboto', sans-serif;
    --p-size: 1.3rem;

    --footer-p-size: 1.2rem;
}

body {
    background-image: linear-gradient(to bottom, var(--background-body1) 0%, var(--background-body2) 100%);
}

/* cabecalho */
.hero {
    display: flex;
    min-height: 40vh;
    background: var(--background-body1) url(../../img/jupiter/header-img.png) no-repeat center center / cover scroll;
    box-shadow: 0px 0px 20px 0px black;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 14rem;
    text-align: center;
    align-items: center;
    text-shadow: 1px 1px 6px black;
    /* position: relative; */
}

.hero-title {
    font-family: var(--h1-font);
    font-size: 3.2rem;
    color: var(--h1-color);
    padding: 3rem 0;
}

.hero-text {
    font-family: var(--p-font);
    font-size: 1.375rem;
    line-height: 1.8rem;
    color: var(--p-color);
}

nav {
    position: absolute;
    top: 0;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    list-style-type: none;
    padding: 1rem;
}

nav a {
    font-family: var(--p-font);
    font-size: var(--p-size);
    color: var(--p-color);
    text-decoration: none;
    padding-bottom: .2rem;
    border-bottom: 0 solid transparent;
    transition: .4s ease-in-out;
}

nav a:hover {
    color: var(--highligth-color);
    font-size: 1.4rem;
    border-bottom: 1px solid var(--highligth-color);
}

/* fim header */

/* Gradiente e largura do conteudo principal */
main {
    background-image: linear-gradient(to bottom, var(--background-gradient-middle) 0%, var(--background-gradient-end) 100%);
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto 1rem auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.267);
}

/* config das sections */
.caract,
.mancha,
.aneis,
.luas,
.espacial,
.final {
    padding: 2.5rem 6.25rem;
    margin: 0 auto;
}

/* config dos sections-titles */
.caract-title,
.mancha-title,
.aneis-title,
.luas-title,
.espacial-title,
.final-title {
    font-family: var(--h2-font);
    font-size: 2.25rem;
    letter-spacing: .2rem;
    color: var(--h2-color);
    padding-bottom: 1.2rem;
}

/* config imagens --> section-caract / section-final */
.caract-img,
.final-img {
    width: 400px;
    height: auto;
    margin-left: 3rem;
    border: 2px solid var(--h2-color);
    box-shadow:  0 0 15px black;
}

.caract-figcaption,
.mancha-figcaption,
.luas-figcaption,
.espacial-figcaption,
.final-figcaption {
    font-family: var(--p-font);
    text-align: center;
    color: var(--p-color);
    padding-top: .5rem;
}

/* config container --> section-caract / section-final */
.caract-text-img,
.final-text-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3rem;
    margin: 0 auto;
}

/* config sections-texts */
.caract-text1,
.caract-text2,
.mancha-text,
.aneis-text,
.luas-text,
.espacial-text,
.final-text1,
.final-text2 {
    font-family: var(--p-font);
    font-size: 1.375rem;
    text-align: justify;
    line-height: 2rem;
    color: var(--p-color);
}

.caract-text2 {
    margin: 0 auto;
}

.final-text2 {
    padding-bottom: 1rem;
}

.destaque-text {
    color: var(--highligth-color);
}

/* config container --> section-mancha / section-luas / section-espacial */

.mancha-text-img,
.luas-text-img,
.espacial-text-img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mancha-text,
.luas-text,
.espacial-text {
    padding-bottom: 1rem;
}

/* config imagens --> section-mancha / section-luas / section-espacial */
.mancha-img,
.luas-img,
.espacial-img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: 2px solid var(--h2-color);
    box-shadow:  0 0 15px black;
}

/* config section --> final */

.final-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.return-link {
    text-decoration: none;
    font-family: var(--p-font);
    font-size: var(--p-size);
    color: var(--p-color);
    padding: .5rem 1rem;
    border: 1px solid white;
    transition: .4s ease-in-out;
}

.return-link:hover {
    color: var(--p-color);
    background-color: var(--background-gradient-start);
    border-color: var(--background-gradient-start);
    transform: scale(1.2);
}

/* INICIO FOOTER */

.footer-container {
    background-color: var(--background-body2);
    font-family: var(--p-font);
    font-size: 1rem;
    text-align: center;
    padding: 1rem 6.25rem;
    margin: 0 auto;
    color: var(--p-color);
    max-width: 1000px;
    line-height: 1.6rem;
}

.footer-text {
    padding-bottom: 1rem;
}

.link-footer {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: .4s ease-in-out;
}

.link-footer:hover {
    color: var(--highligth-color);
    border-bottom: 2px solid var(--highligth-color);

}

.link-celestial {
    color: var(--p-color);
}

/* FIM FOOTER */

/* Dispositivos grandes */
@media (max-width: 1112px) {
    .hero-content {
        padding: 1.5rem 12rem 2.5rem;
    }

    .hero-title {
        padding: 2rem 0;
    }
}

/* Dispositivos médios - grande */
@media (max-width: 930px) {
    .hero {
        min-height: 30vh;
    }

    .caract-text-img,
    .final-text-img {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .caract-img, .final-img {
        margin: 0;
    }

    .caract-text1,
    .final-text1 {
        padding-bottom: 1rem;
    }

    .mancha-text {
        padding-bottom: 1rem;
    }

    .luas-text-img {
        flex-direction: column;
    }
}


/* Dispositivos médios */
@media (max-width: 835px) {
    .hero-content {
        padding: 1.5rem 8rem 2.5rem;
    }

    .caract-title,
    .mancha-title,
    .aneis-title,
    .luas-title,
    .espacial-title,
    .final-title {
        font-size: 2rem;
        text-align: center;
    }

    .footer-container {
        padding: 1rem 3rem;
    }
}

    /* Dispositivos pequenos */
    @media (max-width: 430px) {
        .hero-content {
            padding: 1.5rem;
        }

        nav a {
            font-size: 1rem;
        }
    
        nav a:hover {
            font-size: 1.1rem;
        }

        main {
            max-width: 400px;
        }

        .caract,
        .mancha,
        .aneis,
        .luas,
        .espacial,
        .final {
            padding: 1rem 2rem;
            margin: 0 auto;
        }

        .caract-img,
        .final-img {
            width: 100%;
            padding: 0;
        }

        .mancha-img,
        .luas-img,
        .espacial-img {
            width: 100%;
            height: auto;
        }
    }