/* Configuração para dispositivos móveis pequenos --> 320px */
/* Configuração padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores de Fundo */
    --fundo-body-start: #0D1B2A;
    --fundo-body-end: #000000;

    /* Cores de textos */

    --color-h1: white;
    --color-h2:  #f7a745;
    --color-h3: #94A4B4;
    --color-p: white;
    --color-highlight: #F9C078;
    --gradient-start: #5F474A;
    --gradient-end:  #f9bf78b9;

    /* Fontes */
    --fonte-h1: 'Orbitron', sans-serif;
    --fonte-h2: 'Raleway', sans-serif;
    --fonte-h3: 'Montserrat', sans-serif;
    --fonte-p: 'Roboto', sans-serif;

    /* Tamanhos das fontes */
    --p-font-size: 1rem; /* Tamanho base para o parágrafo */
    --h1-font-size: 2rem; /* Tamanho para h1 */
    --h2-font-size: 1.8rem; /* Tamanho para h2 */
    --h3-font-size: 1.5rem; /* Tamanho para h3 */
}

body {
    background-image: linear-gradient(to bottom, var(--fundo-body-start), var(--fundo-body-end));
    color: var(--color-p);
}

main {
    background-image: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto 1rem auto;
}

/* Fim configuração padrão */

/* header */

.hero-bg {
    background: var(--fundo-body-start) url(../../img/saturno/header-img.png) no-repeat center center / cover scroll;
    min-height: 40vh;
}

.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    text-shadow: 0 0 10px black;
    text-align: center;
    width: 100%;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 0 0 10px black;
    z-index: 1;
    /* background-color: var(--header-color); */
}

.hero-title {
    font-family: var(--fonte-h1);
    font-size: var(--h1-font-size);
    color: var(--color-h1);
    margin: 2rem 0 1rem;
}

.destaque-text {
    color: var(--color-highlight);
}

.hero-text {
    font-family: var(--fonte-p);
    font-size: var(--p-font-size);
    color: var(--color-p);
    letter-spacing: .1rem;
    line-height: 1.6rem;
}

nav {
    position: absolute;
    top: 0;
    margin-top: 1rem;
    font-family: var(--fonte-p);
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    list-style-type: none;
    padding: .5rem;
}

nav a {
    font-size: 1rem;
    color: var(--color-p);
    text-decoration: none;
    padding-bottom: .2rem;
    border-bottom: 0 solid transparent;
    transition: .4s ease-in-out;
}

nav a:hover {
    color: var(--color-highlight);
    font-size: 1.1rem;
    border-bottom: 1px solid var(--color-highlight);
}
/* fim header */

/* config padrao conteudo */

section {
    padding: 2rem 1rem 0;
}

/* config padrao --> titulos e paragrafos */
.estrutura-title, .aneis-title, .satelites-title, .exploracao-title, .conclusao-title {
    font-family: var(--fonte-h2);
    font-size: var(--h2-font-size);
    color: var(--color-h2);
    text-align: center;
    letter-spacing: .2rem;
}

.estrutura-text, .aneis-text, .satelites-text, .exploracao-text, .conclusao-text {
    font-family: var(--fonte-p);
    font-size: var(--p-font-size);
    text-align: justify;
    letter-spacing: .1rem;
    line-height: 1.6rem;
    margin-top: 1rem;
}


/* fim config padrao --> titulos e paragrafos */


/* config padrao img */
.estrutura-img, .aneis-img, .satelites-img, .exploracao-img, .conclusao-img { /* img quadrada */
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 2px solid var(--color-highlight);
    box-shadow:  0 0 15px black;
}

.legenda-img {
    font-family: var(--fonte-p);
    text-align: center;
    letter-spacing: .1rem;
    margin-top: .5rem;
}
/* fim config padrao img */

/* section --> conclusao */
.conclusao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.return-btn {
    font-family: var(--fonte-p);
    font-size: var(--p-font-size);
    color: var(--color-p);
    background-color: transparent;
    text-decoration: none;

    border: 1px solid white;
    padding: .5rem 1.5rem;
    margin-top: 2rem;
    transition: .4s ease-in-out;
}

.return-btn:hover {
    color: black;
    background-color: var(--color-highlight);
    border: 1px solid black;
    transform: scale(1.1);
}
/* fim section --> conclusao */

/* footer */
.footer-container {
    font-family: var(--fonte-p);
    color: var(--color-p);
    text-align: justify;
    line-height: 1.6rem;
    padding: 1rem;
    margin: 0 auto;
}

.footer-text-autor {
    font-size: var(--p-font-size);
    text-align: center;
    padding-bottom: 1rem;
}

.link-footer {
    color: var(--color-p);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .4s ease-in-out;
}

.link-footer:hover {
    color: var(--color-highlight);
    border-bottom: 2px solid var(--color-highlight);
}

.link-celestial {
    color: var(--color-p);
}
/* fim footer */

/* media types */

@media (min-width: 768px) {

    .hero-container {
        padding: 5rem;
    }

    .hero-text {
        margin-top: 2rem;
    }

    section {
       padding: 2.5rem 6.25rem 1.25rem;
    }

    .estrutura-text-img, .conclusao-text-img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .estrutura-img, .conclusao-img {
        width: 400px;
    }

    .footer-container {
        max-width: 1000px;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .estrutura-text-img, .conclusao-text-img {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .estrutura-img, .conclusao-img {
        margin-left: 3rem;
    }
}